webservice-jar/src/main/resources/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="http://helloworld.webservice.com"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://helloworld.webservice.com"
                  xmlns:intf="http://helloworld.webservice.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://helloworld.webservice.com"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="sayHello">
                <complexType>
                    <sequence>
                        <element name="name" type="xsd:string">
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="sayHelloResponse">
                <complexType>
                    <sequence>
                        <element name="sayHelloReturn" type="xsd:string">
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part element="impl:sayHelloResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloRequest">
        <wsdl:part element="impl:sayHello" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorld">
        <wsdl:operation name="sayHello">
            <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">
            </wsdl:input>
            <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="sayHelloRequest">
                <wsdlsoap:body parts="parameters" use="literal">
                </wsdlsoap:body>
            </wsdl:input>
            <wsdl:output name="sayHelloResponse">
                <wsdlsoap:body parts="parameters" use="literal">
                </wsdlsoap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldService">
        <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">
            <wsdlsoap:address location="http://localhost:8080/WebService/services/HelloWorld">
            </wsdlsoap:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>